<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Such Development</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="app/app.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40149339-3', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <div id="wrap">
    <nav class="navbar navbar-fixed-top navbar-dark" style="background-color: #311b92;">
      <div class="container">
        <a class="navbar-brand" href="/">Such Development</a>
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item">
            <a class="nav-link" href="/resume">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://blog.suchdevelopment.com">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/Romdeau"><img src="assets/img/github.png" class="img-responsive" alt="github" style="width: 24px;"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://au.linkedin.com/pub/thomas-taege/44/7a2/830"><img src="assets/img/linkedin.png" class="img-responsive" alt="linkedin" style="width: 24px;"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/thomastaege"><img src="assets/img/twitter.png" class="img-responsive" alt="twitter" style="width: 24px;"></i></a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="main">
      <div class="sd-header jumbotron">
        <div class="container">
          <h1 class="sd-heading">Thomas Taege</h1>
          <h2 class="sd-heading">IT Professional</h2>
          <h2 class="sd-heading">Brisbane, Queensland Australia</h2>
          <h2 class="sd-heading">Hire me for; systems administration, development and devops</h2>
        </div>
      </div>
      <div class="container sd-main">
        <h2>Availability and Contacting Me</h2>
        <p>I'm available for immediate start, if you want to get in contact with me let me know on Twitter or LinkedIn</p>
        <h2>Objective</h2>
        <p>To find employment with a company where I can expand both my professional and interpersonal skills, solve complex problems and learn new things.</p>
        <h2>Skills and Abilities</h2>
        <h4>Critical and Creative Thinking</h5>
        <p>I work in IT because I like to solve complex problems by designing systems and then automating myself out of the job so I can move onto the next problem. I spend my free time working on software and ops projects because I like the challenge of giving myself a problem domain or a new technology, then learning about it and designing things with it.</p>
        <h4>Motivated Self Learner</h5>
        <p>I went to university for 3 years and have half a degree in science (majoring in chemistry) and half a degree in Computer Science (majoring in UX). Since that time I’ve always kept myself learning new things, either to add value to myself as an employee or to satisfy personal curiosity. This is how I’ve learned Ruby on Rails, NodeJS, Docker, Linux, cloud hosting, web apps, dedicated game servers, and Microsoft’s server environment.</p>
        <h4>Project Management</h5>
        <p>Throughout my career I’ve managed projects by keeping in mind stakeholder requirements, budgets, delivery dates and my team’s skillsets. By doing this I’ve been able to deliver value with every project I’ve delivered over my career from small business backup systems to large scale server rollouts and complex server based application solutions. I feel the most notable projects in my career are the IT rollout completed at Eneraque in late 2011 and an  automated leave tracking system developed in Ruby on Rails.</p>
        <h4>Technology Experience</h5>
        <p>Over the course of my career I’ve touched a wide variety of technologies across a wide variety of disciples</p>
        <h5>Operating Systems;</h5>
        <ul>
          <li>Microsoft Server ( 2003 -2012) </li>
          <li>Linux ( Ubuntu 10-14.04, Debian 6-8) </li>
          <li>Windows (95- 10)</li>
          <li>OSX (10.6 – 10.11)</li>
        </ul>
        <h5>Programming Languages & Frameworks;</h5>
        <ul>
          <li>Ruby (1.8-2.1) </li>
          <li>Javascript (ES5 & ES6/ES2015) </li>
          <li>HTML 5 & CSS 3 </li>
          <li>Bootstrap (2 – 4.0 alpha)</li>
          <li>Ruby on Rails (4.0 – 4.2) </li>
          <li>NodeJS (0.10 – 4.0) </li>
          <li>Meteor (0.8 – 1.1) </li>
          <li>AngularJS (1.3 & 1.4)</li>
          <li>ReactJS (0.11 – 0.13)</li>
        </ul>
        <h5>Operations and Orchestration;</h5>
        <ul>
          <li>Git (Github & Bitbucket as well as self-hosted) </li>
          <li>Docker (1.7 & 1.8) </li>
          <li>Bash, Command and Powershell </li>
          <li>Unicorn (RoR application server) </li>
          <li>PM2 (NodeJS application server) </li>
          <li>Apache2, nginx and IIS </li>
          <li>VPS (AWS EC2 & Digital Ocean) </li>
          <li>Puppet, Chef</li>
        </ul>
        <h5>General Technologies & Concepts;</h5>
        <ul>
          <li>Databases (MSQL, PostreSQL, MongoDB)</li>
          <li>Email (Exchange, Postfix) </li>
          <li>DNS, DHCP, routing </li>
          <li>Continuous Integration & Continuous Deployment </li>
          <li>Disaster Recovery and Backup Methodology </li>
          <li>High Availability & Redundant Systems Design</li>
        </ul>
        </ul>
        <h2>Experience</h2>
        <h6>IT & Systems Manager| Eneraque Pty Ltd | April 2011 – September 2015</h6>
        <ul>
          <li>At Eneraque I assumed sole responsibility for a company that was rapidly outgrowing its existing server infrastructure. I designed and coordinated a complete IT overhaul with a required delivery date of 1 Jan 2012. This redesign included Migrating to virtual servers (VMWare), moving to a full Windows Server domain (2008r2), upgrading existing XP desktops to Windows 7, Implementing Cisco’s UCC Communications platform and networking (switches, routing, and security appliances), designed and negotiated the implementation of a SIP trunk and a managed MPLS setup to tie our site offices together with Telstra.</li>
          <li>In late 2012 the company rebranded to Eneraque (previously a group of 4 companies), for which I acquired domains and cutover the whole company to new email addresses. I also assisted with designing and automating the rollout of materials for staff and assisted the marketing department with the design of the website and email newsletters.</li>
          <li>In 2013 the company was growing rapidly, I interviewed and selected a second IT staff member with whom we automated the rollout and setup for over 50 new staff members. We also implemented a standardized support ticketing systems and further automated our rapidly growing cluster of virtual servers.</li>
          <li>In late 2013, after growing frustrated with the low level of reliability of a number of software packages we used internally I taught myself Ruby and the Ruby on Rails framework. With this I designed, programmed and deployed a web based system to cover the creation, approval, management and reporting for leave requests. This web calendar based approach gave management easy to view calendar based reporting and stopped the inefficiencies of the existing paper form based approach. This system is still in active use as of the time of my departure.</li>
          <li>In 2014, on the back of internal success with leave management I collaboratively developed a web based system to track the lifecycle of our product production cycle (component shipping, internal built cycle, shipping to site and regulatory requirements), which gave staff a level of visibility and scheduling that we did not have at the time. This system is still in use as of the time of my departure.</li>
        </ul>
        <h6>Managed Services Technician | Computer Alliance | February 2009 – April 2011</h6>
        <ul>
          <li>At computer alliance I took over the role of the callout IT Consultant, and was also promoted into the managed services department. In the managed services department I project managed small-medium business server rollouts to a loosely affiliated group of businesses in QLD, NSW, VIC and WA. This involved network and serverarchitecture design (including backup, power protection and DR/failover, managing shipping, travel, flights andaccommodation and conducting the actual rollout and cutover for peoples businesses.</li>
        </ul>
        <h6>IT Consultant | Tailored Computer Solutions | February 2008 – February 2009</h6>
        <ul>
          <li>At tailored computer solutions I booked appointments and travelled across Brisbane to people’s homes and businesses to solve almost any issue thrown my way. Typically this was just virus cleanup and hardware failure, butwas also my first exposure to servers and networks.</li>
        </ul>
        <h4>Personal Projects</h4>
        <ul>
          <li>I store my personal projects on Github; https://github.com/Romdeau</li>
          <li>I blog about development and operations at http://blog.romdeau.com </li>
          <li>I’ve recently started writing tutorials for Digital Ocean, first one should be published soon.</li>
          <li>I maintain my own reserved instance on Amazon’s EC2. This serves the Docker containers for my personal websites (http://www.suchdevelopment.com & http://www.romdeau.com ) and blogs (http://blog.suchdevelopment.com & http://blog.romdeau.com ) are served from, as well as a Teamspeak server and various dedicated game servers and web apps.</li>
        </ul>
      </div>
    </div>
  </div>
  <footer class="sd-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
          <h4>Located in Brisbane, Australia</h5>
        </div>
        <div class="col-lg-4">
          <p>Site built with;</p>
          <ul>
            <li>Bootstrap 4.0 alpha</li>
            <li>NodeJS</li>
            <li>Express</li>
            <li>AngularJS</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
</body>
